html, body {
  width:100%;
}

body {
  font-size: 25px;
  background: #eff1c5;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 30vw;
  margin: 0 auto;
  padding-top: 20vh;

}

.modal {
  position: relative;
  height: 40vh;
  text-align: center;
  padding-top: 2vh;
}

.word {
  text-align: center;
  font-size: 60px;
  color: 000;
  margin: 5vh;
}

.description {
  text-align: center;
  font-size: 50px;
  display: inline-block;
}

.description::before {
  content: ":"
}

.thumb1 {
  float: left;
  width: 20px;
  margin: 20px;
}

.thumb2 {
  float: right;
  width: 20px;
  margin: 20px;

}

.fa {
  margin-top: 10vh;
  cursor: pointer;
}

.fa:hover {
  color : darkorange;
}

.fa-thumbs-o-up {
  color     : red;
}

.fa-thumbs-o-down {
  color: blue;
  position: relative;
}
